{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understand and Guide your Users | Pendo</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://use.fontawesome.com/808bde63c9.js"></script>
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
  </body>
</html>
